In [3]:
person = {
    "first": "Shankar",
    "last": "R",
    "age": 41
}

In [4]:
people = {
    "first": ["Shankar"],
    "last": ["R"],
    "age": [41]
}

In [13]:
people = {
    "first": ["Shankar", "Niru", "Akshara"],
    "last": ["R", "S", "S"],
    "age": [41, 40, 5],
    "email": ["shan@email.com", "niru@email.com", "aksh@email.com"]
}

In [14]:
people["age"]

[41, 40, 5]

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(people)

In [17]:
df

     first last  age           email
0  Shankar    R   41  shan@email.com
1     Niru    S   40  niru@email.com
2  Akshara    S    5  aksh@email.com

In [18]:
# df["last"] == "S"
filt = (df["last"] == "S")

In [19]:
df[filt]

     first last  age           email
1     Niru    S   40  niru@email.com
2  Akshara    S    5  aksh@email.com

In [20]:
df.loc[filt, "first"]

1       Niru
2    Akshara
Name: first, dtype: object

In [28]:
filt2 = (df["last"] == "S") & (df["first"] == "Akshara")
df.loc[filt2]

     first last  age           email
2  Akshara    S    5  aksh@email.com

In [33]:
filt3 = (df["last"] == "S") | (df["first"] == "Akshara")
df.loc[~filt3] # gives opposite of the filter... surprisingly it is not ! symbol

     first last  age           email
0  Shankar    R   41  shan@email.com